<div class="section container">


  <div>
    <h1 class="title">
      Alifbo
    </h1>
    <div class="row mb-5 color-blue">
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/A.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            A
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/B.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            B
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/D.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            D
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/E.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            E
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/G.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            G
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/H.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            H
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/I.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            I
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/J.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            J
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/K.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            K
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/L.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            L
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/M.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            M
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/N.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            N
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/O.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            O
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/P.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            P
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/Q.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            Q
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/R.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            R
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/S.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            S
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/T.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            T
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/U.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            U
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/V.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            V
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/X.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            X
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/Y.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            Y
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/Z.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            Z
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/O'.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            O'
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/G'.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            G'
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/Sh.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            Sh
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/Ch.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            Ch
          </h6>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-3 mb-2">
        <div class="d-flex fd-c w-100">
          <div class="vertical-img">
            <img src="/img/hand/Ng.png" alt="">
          </div>
          <h6 class="mtitle m-0">
            Ng
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3 class="title">
      1-dars. Assalomu alaykum
    </h3>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex justify-content-md-end justify-content-md-start justify-content-sm-center">
          <div class="img-item">
            <img src="/img/hand/A.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/S.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/S.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/A.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/L.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/O.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/M.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/U.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex  justify-content-md-start justify-content-sm-center mt-xs-3">
          <div class="img-item">
            <img src="/img/hand/A.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/L.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/A.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/Y.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/K.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/U.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/M.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="big-img middle">
    <img src="/img/img/img1.png" alt="">
  </div>
  <h4 class="title">
    Assalomu alaykum
  </h4>
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex justify-content-md-end justify-content-md-start justify-content-sm-center">
        <div class="img-item">
          <img src="/img/hand/A.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/S.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/S.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/A.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/L.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/O.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/M.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/U.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-md-start justify-content-sm-center mt-xs-3">
        <div class="img-item">
          <img src="/img/hand/A.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/L.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/A.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/Y.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/K.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/U.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/M.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <h4 class="title">
    Va alaykum assalom
  </h4>
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex justify-content-md-end justify-content-md-start justify-content-sm-center">

        <div class="img-item">
          <img src="/img/hand/A.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/L.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/A.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/Y.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/K.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/U.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/M.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-md-start justify-content-sm-center mt-xs-3">
        <div class="img-item">
          <img src="/img/hand/A.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/S.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/S.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/A.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/L.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/O.png" alt="">
        </div>
        <div class="img-item">
          <img src="/img/hand/M.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-11 col-9">
      <h3 class="title">
        KELING. KIRING
      </h3>
      <div class="row align-items-center">
        <div class="col-md-7">
          <div class="big-img">
            <img src="/img/img/img2.png" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <div class="d-flex justify-content-md-start justify-content-sm-center mb-sm-3">
            <div class="img-item">
              <img src="/img/hand/K.png" alt="">
              <h4 class="mtitle">K</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/E.png" alt="">
              <h4 class="mtitle">e</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/L.png" alt="">
              <h4 class="mtitle">l</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/I.png" alt="">
              <h4 class="mtitle">i</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/N.png" alt="">
              <h4 class="mtitle">n</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/G.png" alt="">
              <h4 class="mtitle">g</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-5 order-sm-1">
          <div class="d-flex justify-content-md-end justify-content-sm-center ju mb-sm-5">
            <div class="img-item">
              <img src="/img/hand/K.png" alt="">
              <h4 class="mtitle">K</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/I.png" alt="">
              <h4 class="mtitle">i</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/R.png" alt="">
              <h4 class="mtitle">r</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/I.png" alt="">
              <h4 class="mtitle">i</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/N.png" alt="">
              <h4 class="mtitle">n</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/G.png" alt="">
              <h4 class="mtitle">g</h4>
            </div>
          </div>
        </div>
        <div class="col-md-7 order-sm-0">
          <div class="big-img">
            <img src="/img/img/img3.png" alt="">
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center  justify-content-md-around flex-direction-sm-column">
        <div class="d-flex align-items-center m-2 img-items">
          <h3 class="mtitle mb-0 mr-2">Men</h3>
          <div class="img-item">
            <img src="/img/hand/M.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/E.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/N.png" alt="">
          </div>
        </div>
        <div class="d-flex align-items-center m-2 img-items">
          <h3 class="mtitle mb-0 mr-2">Sen</h3>
          <div class="img-item">
            <img src="/img/hand/S.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/E.png" alt="">
          </div>
          <div class="img-item">
            <img src="/img/hand/N.png" alt="">
          </div>
        </div>
        <div class="d-flex align-items-center m-2 img-items">
          <h3 class="mtitle mb-0 mr-2">U</h3>
          <div class="img-item">
            <img src="/img/hand/U.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-3">
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/A.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          A
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/B.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          B
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/D.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          D
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/E.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          E
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/G.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          G
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/H.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          H
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/I.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          I
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/J.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          J
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/K.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          K
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/L.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          L
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/M.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          M
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/N.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          N
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/O.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          O
        </h6>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-1 col-3">
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/P.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          P
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/R.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          R
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/S.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          S
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/T.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          T
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/U.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          U
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/V.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          V
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/X.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          X
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/Y.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          Y
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/Z.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          Z
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/O'.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          O'
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/G'.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          G'
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/Sh.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          Sh
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/Ch.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          Ch
        </h6>
      </div>
      <div class="d-flex fd-c">
        <div class="vertical-img">
          <img src="/img/hand/Ng.png" alt="">
        </div>
        <h6 class="mtitle m-0">
          Ng
        </h6>
      </div>
    </div>
    <div class="col-md-11 col-9">
      <h3 class="title">
        TURING. O'TIRING
      </h3>
      <div class="row align-items-center  mb-sm-5">
        <div class="col-md-4">
          <div class="d-flex justify-content-md-end justify-content-sm-center">
            <div class="img-item">
              <img src="/img/hand/A.png" alt="">
              <h4 class="mtitle">A</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/L.png" alt="">
              <h4 class="mtitle">l</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/I.png" alt="">
              <h4 class="mtitle">i</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="big-img text-center">
            <img src="/img/img/img4.png" alt="">
            <h4>Ali turdi</h4>
          </div>
        </div>
        <div class="col-md-5">
          <div class="d-flex justify-content-sm-center">
            <div class="img-item">
              <img src="/img/hand/T.png" alt="">
              <h4 class="mtitle">t</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/U.png" alt="">
              <h4 class="mtitle">u</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/R.png" alt="">
              <h4 class="mtitle">r</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/I.png" alt="">
              <h4 class="mtitle">i</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/N.png" alt="">
              <h4 class="mtitle">n</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/G.png" alt="">
              <h4 class="mtitle">g</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="d-flex justify-content-md-end justify-content-sm-center">
            <div class="img-item">
              <img src="/img/hand/A.png" alt="">
              <h4 class="mtitle">A</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/L.png" alt="">
              <h4 class="mtitle">l</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/I.png" alt="">
              <h4 class="mtitle">i</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="big-img text-center">
            <img src="/img/img/img5.png" alt="">
            <h4>Ali o'tirdi</h4>
          </div>
        </div>
        <div class="col-md-5">
          <div class="d-flex justify-content-sm-center mb-sm-5">
            <div class="img-item">
              <img src="/img/hand/O'.png" alt="">
              <h4 class="mtitle">O'</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/T.png" alt="">
              <h4 class="mtitle">t</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/I.png" alt="">
              <h4 class="mtitle">i</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/R.png" alt="">
              <h4 class="mtitle">r</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/I.png" alt="">
              <h4 class="mtitle">i</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/N.png" alt="">
              <h4 class="mtitle">n</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/G.png" alt="">
              <h4 class="mtitle">g</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="d-flex justify-content-md-end justify-content-sm-center">
            <div class="img-item">
              <img src="/img/hand/L.png" alt="">
              <h4 class="mtitle">L</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/O.png" alt="">
              <h4 class="mtitle">o</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/L.png" alt="">
              <h4 class="mtitle">l</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/A.png" alt="">
              <h4 class="mtitle">a</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="big-img text-center">
            <img src="/img/img/img6.png" alt="">
            <h4>Lola turdi</h4>
          </div>
        </div>
        <div class="col-md-5">
          <div class="d-flex justify-content-sm-center">
            <div class="img-item">
              <img src="/img/hand/T.png" alt="">
              <h4 class="mtitle">t</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/U.png" alt="">
              <h4 class="mtitle">u</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/R.png" alt="">
              <h4 class="mtitle">r</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/I.png" alt="">
              <h4 class="mtitle">i</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/N.png" alt="">
              <h4 class="mtitle">n</h4>
            </div>
            <div class="img-item">
              <img src="/img/hand/G.png" alt="">
              <h4 class="mtitle">g</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>